/***** Index.html *****/
.container {
	text-align: center;
	background-color: #909090;
	color: white;
	font-family: sans-serif;
}

.main-title {
	text-align: center;
}

.navbar .navbar-inverse {
	background-color: #333;
	margin-left: 5px;
	overflow: hidden;
}

ul.nav.navbar-nav li {
	border-color: white;
	color: white;
	margin-right: 60px;
}

.active {
    background-color: white;
    color: white;
    list-style-type: none;
    padding: 0px;
}

@media only screen and (max-width: 400px) {
	.navbar-nav li a {
		margin-left: 40px;
	}

	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		margin-left: 130px;
		margin-top: 10px;
	}
}

/** Lazarus Introduction **/

.lazarus-summary {
	font-size: 18px;
}

/** Solenodon section ***/

.solenodon {
	height: 100%;
	width: 100%;
}

.solenodon-summary {
	font-size: 16px;
}

img.solenodon {
	margin-top: 20px;
}

/**** Coelacanth section ***/

#coelacanth {
	height: 100%;
	width: 100%;
}

.left-image a {
	margin-left: 5px;
	color: black;
}
/*** Omura's Whale section ***/

#whale {
	height: 93%;
	width: 91%;
}

.right-image a {
	color: black;
}


/************ rediscovered mammals.html ********/

button.btn.btn-default button#solenodon {
	padding: 10px;
	margin: 10px;
	border: solid;
	border-color: lightgray;
}

/** Chacoan Peccary ***/

.peccary-summary, .peccary-button {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

.peccary-summary {
    display: none;
    padding-top: 80px;
}

.peccary-image {
	height: 100%;
	width: 100%;
}

div.peccary-summary {
	background-color: #909090;
}


/*** Bavarian Pine Vole *****/

.vole-summary, .vole-button {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

.vole-summary {
	padding-top: 80px;
	display: none;
}

.vole-image {
	height: 100%;
	width: 100%;
}

div.vole-summary {
	background-color: #909090;
}


/***** Bridled Wallaby ******/

.wallaby-summary, .wallaby-button {
	padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

.wallaby-summary {
	padding-top: 80px;
	display: none;
}

.wallaby-image {
	height: 100%;
	width: 100%;
}

div.wallaby-summary {
	background-color: #909090;
}

/****** Leadbeater's Possum Section *****/

.possum-summary, .possum-button {
	padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

.possum-summary {
	padding-top: 80px;
	display: none;
}

.possum-image {
	height: 100%;
	width: 100%;
}

div.possum-summary {
	background-color: #909090;
}


/******* Roosevelt's Muntjac Section ****/

.muntjac-summary, .muntjac-button {
	padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

.muntjac-summary {
	padding-top: 80px;
	display: none;
}

.muntjac-image {
	height: 100%;
	width: 100%;
}

div.muntjac-summary {
	background-color: #909090;
}


/**** Rediscovered Reptiles Page *****/

/*** Crested Gecko Section ****/

.gecko-image {
	height: 100%;
	width: 100%;
}

.gecko-summary {
	display: none;
}

.gecko-button {
	margin-top: 20px;
}

/**** Terror Skink Section ****/

.skink-image {
	height: 100%;
	width: 100%;
}

.skink-summary {
	display: none;
}

.skink-button {
	margin-top: 20px;
}

/**** La Gomera Giant Lizard ****/

.gomera-image {
	height: 100%;
	width: 100%;
}

.gomera-summary {
	display: none;
}

.gomera-button {
	margin-top: 20px;
}


