/***** Index.html *****/
.container {
	text-align: center;
}

.main-title {
	text-align: center;
}

.navbar .navbar-inverse {
	background-color: #333;
	overflow: hidden;
}

.active {
    background-color: #4CAF50;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/** Lazarus Introduction **/

.lazarus-summary {
	font-size: 18px;
}

/** Solenodon section ***/

.solenodon {
	height: 100%;
	width: 100%;
}

/**** Coelacanth section ***/

#coelacanth {
	height: 100%;
	width: 100%;
}

.left-image a {
	margin-left: 5px;

}
/*** Omura's Whale section ***/

#whale {
	height: 93%;
	width: 91%;
}


/************ rediscoveredmammals.html ********/

/** Chacoan Peccary ***/

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    display: none;
    padding-top: 80px;

}

.peccary {
	height: 100%;
	width: 100%;
}

/*** Bavarian Pine Vole *****/

.vole-summary, .vole-section {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

.vole-summary {
	padding-top: 80px;
	display: none;
}

.vole {
	height: 100%;
	width: 100%;
}

/***** Bridled Wallaby ******/

.wallaby-summary, .wallaby-section {
	padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;

}

.wallaby-summary {
	padding-top: 80px;
	display: none;

}

.wallaby {
	height: 100%;
	width: 100%;
}

/****** Leadbeater's Possum Section *****/

.possum-summary, .possum-section {
	padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;

}

.possum-summary {
	padding-top: 80px;
	display: none;

}

.possum {
	height: 100%;
	width: 100%;
}


