
.container {
	text-align: center;
}

.main-title {
	text-align: center;
}

.navbar .navbar-inverse {
	background-color: #333;
	overflow: hidden;
}

.navbar .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 15px 20px;
    font-size: 17px;
}

.active {
    background-color: #4CAF50;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lazarus-summary {
	font-size: 18px;

}

.solenodon {
	height: 100%;
	width: 100%;
}

#coelacanth {
	height: 100%;
	width: 100%;
}

#whale {
	height: 93%;
	width: 91%;
}


.left-image a {
	margin-left: 5px;

}

.lord-howe {
	height: 100%;
	width: 100%;
}

